{% extends "layout.html" %}
{% block body %}

<hr>
<h3>Hakkımızda</h3>
<hr>
<strong>|GÜVEN|</strong>
Birbirimize güveniyoruz. Bu, esnek çalışma saatlerimizi ve diğer özgürlüklerimizi nasıl ele aldığımızda gösterilmektedir.
İşinizi özenle tamamlayarak ve üzerinde anlaşmaya varılan teslim tarihlerine riayet ederek bu güveni yansıtmanızı bekliyoruz.
Kendi yeteneklerinizi değerlendirirken gerçekçi olun ve meslektaşlarınızın yeteneklerine güvenin.
<hr>
<strong>|BAĞIMSIZLIK|</strong>
Zephyr Games bir şirket olarak dış güçlerden bağımsız kalmayı amaçlamaktadır - finansal olarak bağımlı olmadan harika oyunlar yapmak istiyoruz.
Bu bağımsızlığı günlük çalışmalarımıza da yansıtmaya çalışıyoruz. Net kurallarımız ve süreçlerimiz var, ancak her zaman iyileştirmelere açığız
sorunları çözmek için kendi yöntemlerinizi geliştirebilir ve geliştirmelisiniz. Çalışma alanlarınızı hem fiziksel hem de dijital olarak şekillendirebilir,
hepimizin kendi stili var.
<hr>
<strong>|ŞEFFAFLIK|</strong>
Sonuçlarımızı, ilerlememizi ve hedeflerimizi paylaşıyoruz. Kendi yeteneklerimizi ve sınırlarımızı kabul ederiz, birbirimizle açık iletişim kurarız ve her zaman yeni fikirlere açığız.
En yüksek ses her zaman en akıllı seçim değildir: en gürültülü fikirleri değil, en iyi fikirleri bulabilmemiz için doğrudan ve açık iletişim kültürünü teşvik ediyoruz.
İlgili bilgileri ihtiyacı olanlara aktarıyoruz ve ihtiyaç duyduğumuzda bilgiye hızlı bir şekilde ulaşabiliyoruz.
Kararlarınızı yazın, doğrudan iletişim biçimlerini kullanın ve her zaman ilgili temas noktalarına dikkat edin
<hr>
<strong>|ÇOŞKU|</strong>
İşimizle, oyunlarımızla ve kültürümüzle gurur duyuyoruz. Birlikte iddialı hedeflere ulaşmanın eğlenceli olduğu bir atmosfer yaratıyoruz. ASTORIA gibi 'oyun alanlarımız',
dinlenme alanı, düzenli etkinlikler ve doğrudan iletişim, herkesin bilgisini ve bilgeliğini taşıyabileceği bir atmosfer yaratmaya yardımcı olur. 'Girin ve oynayın!'
Sizi oyun oynarken ve meslektaşlarınızla onlar hakkında konuşurken görmek istiyoruz.
Sadece oyunlarınızı geliştirmeyin. Onları test edin, oynayın, yapıcı bir şekilde etkileşim kurun.
Size bir işyerinden daha fazlasını sunan bir şirket olmak istiyoruz. yemek sunuyoruz,
boş zaman aktiviteleri ve iş sonrası bira. Sadece etkinlikler düzenlemiyoruz, iş arkadaşlarının arkadaş olabileceği bir ortam yaratıyoruz.
<hr>
<strong>|BÜTÜNLÜK|</strong>
Sadece düşündüğümüzü söylemekle kalmıyoruz, sözlerimizin ve eylemlerimizin de bizim için konuşmasına izin veriyoruz. Kendimize karşı dürüstüz ve her birimizin başkaları için bir rol model olmasını amaçlıyoruz.
Bir taahhütte bulunursak, tamamlandığından emin oluruz. Bir şeye söz verdiysek, bu sözün tutulması için çok çalışıyoruz.
Her çalışan, ortak hedeflerimiz doğrultusunda dürüst, özgün ve tutkulu bir şekilde çalışarak sürekli olarak kendilerinin en iyi versiyonu olmaya çalışmalıdır.
<hr>
<strong>|SAYGI|</strong>
Saygılı davranış bizim için çok önemlidir. Randevulara önceden hazırlanmış ve zamanında gelir, selamlaşır ve kibar davranırız.
Sorumlular oradayken kararlar alırız ve müşteri sorularını kibar ve verimli bir şekilde işleriz.
Merhaba, hoşçakalın, lütfen ve teşekkür ederim, hepiniz bir Zephyr Games çalışanının günlük kelime dağarcığının bir parçasısınız.
Çalışanlarımızın zamanına saygı duyuyoruz ve en zorlu tartışmalarda bile adil ve konuya bağlı kalıyoruz.
Meslektaşlarımızın görüşlerine paylaşmasak da saygı duyarız.
<hr>    


{% endblock body %}